build

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# IDE Project files
.idea/**
.ycm_extra_conf.py

# boost
boost_1_62_0/**
boost/**

# Plot test output
./plot/output/test

# Python IDE files
./plot/scripts/.r*
